<h3>Calculate</h3>

<table style="width:90%">
  <tr>
    <th>Tutor name</th>
    <th>Tutor ID</th>
    <th>Teacher name (or nil)</th>
    <th>Teacher ID (or nil)</th>
    <th>Parent name (or nil)</th>
    <th>Parent ID (or nil)</th>
    <th>Score</th>
  </tr>
  <% @calculated.each do |match| %>
  <tr>
    <td><%= match[:tutor_name] %></td>
    <td><%= match[:tutor] %></td>
    <td><%= match[:teacher_name] %></td>
    <td><%= match[:teacher] %></td>
    <td><%= match[:parent_name] %></td>
    <td><%= match[:parent] %></td>
    <td><%= match[:score] %></td>
  </tr>
  <% end %>
</table>
