<h3>Matching Table</h3>

<div id='table-container' style="overflow-x:auto;">
  <table>
    <tr>
      <th>Tutor name</th>
      <th>Tutor ID</th>
      <th>Teacher name</th>
      <th>Teacher ID</th>
      <th>Parent name</th>
      <th>Parent ID</th>
      <th>Score</th>
      <th>Matched Name</th>
      <th>Matched Phone Number</th>
      <th>Matched Email</th>
    </tr>
    <% @calculated.each do |match| %>
    <tr>
      <td><%= match[:tutor_name] %></td>
      <td><%= match[:tutor] %></td>
      <td><%= match[:teacher_name] %></td>
      <td><%= match[:teacher] %></td>
      <td><%= match[:parent_name] %></td>
      <td><%= match[:parent] %></td>
      <td><%= match[:score] %></td>
      <td><%= if match[:teacher].to_i != 0
            matched = Teacher.where(id: match[:teacher])[0]
          else 
            matched = Parent.where(id: match[:parent])[0]
          end
          matched[:name]
      %></td>
      <td><%= matched[:phone]%></td>
      <td><%= matched[:email]%></td>
    </tr>
    <% end %>
  </table>
</div>

<%= stylesheet_link_tag    'generate_matches', media: 'all', 'data-turbolinks-track' => true %>