<h3>Calculate</h3>

<table style="width:90%">
  <tr>
    <th>Tutor name</th>
    <th>Tutor ID</th>
    <th>Teacher name (or nil)</th>
    <th>Teacher ID (or nil)</th>
    <th>Parent name (or nil)</th>
    <th>Parent ID (or nil)</th>
    <th>Score</th>
    <th>Tutor Info</th>
    <th>Teacher Info</th>
    <th>Parent Info</th>
  </tr>
  <% @calculated.each do |match| %>
  <tr>
    <td><%= match[:tutor_name] %></td>
    <td><%= match[:tutor] %></td>
    <td><%= match[:teacher_name] %></td>
    <td><%= match[:teacher] %></td>
    <td><%= match[:parent_name] %></td>
    <td><%= match[:parent] %></td>
    <td><%= match[:score] %></td>
    <td><%= Tutor.where(id: match[:tutor]).inspect %></td>
    <td><%= if match[:teacher].to_i != 0
              Teacher.where(id: match[:teacher]).inspect
            else
              match[:teacher]
            end %></td>
    <td><%= if match[:parent].to_i != 0
              Parent.where(id: match[:parent]).inspect
            else
              match[:parent]
            end %></td>
  </tr>
  <% end %>
</table>
